
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to vAPI</title>
</head>
<style>
    body {
	background-color: #202020;
    }
    .t {
	color: #ff0000;
    }
    .nav {
	background-color: black;
	border: 2px solid #ff0000;
	size: 50px;
	padding-bottom: 10px;
	padding-top: 10px;
    }
    .but {
        background-color: black;
        border: 2px solid #ff0000;
	color: #ffff;
	font-size: 16px;
    }
    .bob {
	background-color: black;
        border: 2px solid #ff0000;
        size: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
</style>
<body>
    <center>
	<h1> <font color="#ff0000">vAPI v1.0</font></h1>
	<div class="nav">
    		<button class="but" href="index.html">Home</button>
		<button class="but" href="doc.html">Documentation</button>
		<button type="button" class="but" href="https://discord.gg/UfwwnTTHvg">Discord</button>
		<button class="but" href="#">Contact</button>
	</div>
	<br />
	<div class="bob">
		<p class="t">vAPI, an API that handles multiple API request at once!</p>
		<p class="t">- View and manage APIs</p>
		<p class="t">- Set an API max time</p>
		<p class="t">- Set an max time for user</p>
		<p class="t">- Set a concurrent limit</p>
		<p class="t">- Watch on-going attack</p>
		<p class="t">- Reseller, admin and Owner role</p>
	</div>
    </center>
</body>
</html>

